

.side-menu {
	width: 30%;
	background-color: pink;
}

.lateral {
	list-style-type: none;
	list-style: none;
}

.artwork-area {
	width: 70%;
	background-color: blue;
}

.art-cover {
	width: 25%;
	height: 305px;
	background-color: yellow;
}